html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
p,
div,
body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Quicksand, sans-serif;
}
p {
  line-height: 1.25;
}
h1 {
  font-size: 30px;
  font-size: 3rem;
}
h2 {
  font-size: 25px;
  font-size: 2.5rem;
}
h3 {
  font-size: 22px;
  font-size: 2.2rem;
}
h4 {
  font-size: 20px;
  font-size: 2rem;
}
h5 {
  font-size: 18px;
  font-size: 1.8rem;
}
h6 {
  font-size: 17px;
  font-size: 1.7rem;
}
.top-header {
  z-index: 100;
}
.hide-top-header {
  display: none;
}
.top-banner {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 20px;
}
.top-banner .img-ctn {
  width: 400px;
  display: flex;
  align-items: center;
}
.top-banner .img-ctn img {
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
.top-banner .right-banner {
  width: 550px;
  text-align: end;
}
.top-banner .right-banner .serving-areas {
  font-style: italic;
  color: #555555;
  margin-bottom: 10px;
}
.top-banner .right-banner .contact {
  display: flex;
}
.top-banner .right-banner .contact p {
  width: 55%;
  color: #E63900;
  font-weight: 700;
  font-size: 1.4rem;
}
.top-banner .right-banner .contact div {
  width: 45%;
  color: #E63900;
  font-weight: 800;
}
.top-banner .right-banner .contact div h3 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.top-banner .right-banner .contact div button {
  padding: 3px 20px;
  line-height: 1.7;
  background-color: #E63900;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  border-radius: 20px;
}
.top-banner .right-banner .contact div button:hover {
  cursor: pointer;
}
nav {
  width: 100%;
  background-color: #03754F;
  color: #FFFFFF;
  line-height: 3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}
.nav-items {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
}
.sticky-header {
  position: fixed;
  background-color: #FFFFFF;
}
.invisible {
  margin-top: -50px;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}
.visible {
  top: 0;
  left: 0;
  right: 0;
  transition: margin-top 1s ease;
  z-index: 1000;
}
.sticky-header .top-banner {
  margin-bottom: 0;
  padding-top: 0;
  padding-top: 10px;
  margin-bottom: 10px;
}
.sticky-header .top-banner .img-ctn {
  width: 225px;
}
.sticky-header .top-banner .right-banner .serving-areas {
  display: none;
}
.sticky-header .top-banner .right-banner .contact {
  height: 100%;
}
.sticky-header .top-banner .right-banner .contact p {
  display: none;
}
.sticky-header .top-banner .right-banner .contact div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sticky-header .top-banner .right-banner .contact div h3 {
  font-size: 2.25rem;
  margin-right: 40px;
  margin-bottom: 0;
}
.sticky-header .top-banner .right-banner .contact div button {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 3px 15px;
}
.sticky-header nav {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}
.delete {
  margin-top: 300px;
  height: 3000px;
}
.nav-item {
  padding: 0 10px;
  transition: color 0.25s ease;
}
.nav-item:hover {
  cursor: pointer;
  color: #E63900;
}
.dropdown-content {
  position: absolute;
  z-index: 999;
  display: none;
  background-color: #FFFFFF;
  opacity: 0.9;
  color: #353535;
  line-height: normal;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.dropdown-content:hover {
  cursor: auto;
}
.dropdown-content a {
  text-decoration: none;
  color: inherit;
}
.dropdown-content a:hover {
  text-decoration: underline;
  color: #03754F;
}
.dropdown-content h4 {
  margin-bottom: 5px;
  font-size: 1.7rem;
  font-weight: 700;
}
.services {
  height: 400px;
  width: 900px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px 50px;
}
.services .category {
  margin-bottom: 20px;
}
.services ul li {
  position: relative;
  padding-bottom: 10px;
  font-size: 1.5rem;
}
.services ul {
  list-style: none;
  margin-left: 25px;
}
.services ul li:before {
  content: "";
  position: absolute;
  border-right: 2px solid #E63900;
  border-bottom: 2px solid #E63900;
  width: 5px;
  height: 5px;
  top: calc(50% - 4px);
  left: -20px;
  transform: translateY(-50%) rotate(-45deg);
}
.our-work {
  flex-direction: column;
  width: 300px;
  padding: 25px;
}
.our-work h4 {
  margin-bottom: 20px;
}
.dropdown-visible {
  display: flex;
}
.carousel {
  position: relative;
  height: 365px;
  width: 100%;
}
.carousel-image {
  height: 100%;
  width: 100%;
}
.carousel-track-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel-track {
  list-style: none;
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 1500ms ease-in-out;
}
.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#slide1 {
  background: url(https://dc69b531ebf7a086ce97-290115cc0d6de62a29c33db202ae565c.ssl.cf1.rackcdn.com/1347/mm-gutter2-LEAFGUARD-DEALER-IMG.jpg);
  background-position: center center;
  width: 100%;
  background-size: cover;
  position: absolute;
}
#slide2 {
  background: url(https://dc69b531ebf7a086ce97-290115cc0d6de62a29c33db202ae565c.ssl.cf1.rackcdn.com/1423/lg-mm-roof.jpg);
  background-position: center center;
  width: 100%;
  background-size: cover;
  position: absolute;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.left-button {
  left: 0;
}
.right-button {
  right: 0;
}
.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}
.current-slide-indicator {
  background: rgba(0, 0, 0, 0.75);
}
