// ***** COMPANY SUMMERY *****
.company-summary {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1000px;
  width: 70%;
}

.company-summary-ctn {
  h1 {
    font-size: 4.4rem;
    line-height: 62px;
    text-align: center;
    color: @green;
  }
  h2 {
    font-size: 2.8rem;
    line-height: 36px;
    text-align: center;
    color: @black;
    font-weight: 700;
  }
  p {
    margin: 25px 7% 25px 7%;
    line-height: 1.5;
  }
}

// ***** WHY GREATER MADISON HOMEOWNERS CHOOSE US *****
.why-us {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1000px;
  width: 80%;
}

.why-us-ctn {
  width: 100%;
  h2 {
    color: @green;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
  }
}

.why-us-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.why-us-box {
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0 0 5px lightgrey;
  width: 235px;
  padding: 10px;
  .icon {
    text-align: center;
    margin: 15px;
    .fa {
      transform: scaleX(-1);
      font-size: 3.8rem;
      color: @dark-green;
    }
  }
  p {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
  }
}

.services-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.services-button {
  width: 300px;
  background-color: @green;
  color: @white;
  text-align: center;
  padding: 20px 0;
  margin: 5px;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.5s ease;
  &:hover {
    color: @orange;
  }
}

.text-content {
  line-height: 1.5;
  margin-bottom: 15px;
}

.associations {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  .association-img-ctn {
    width: 23%;
    img {
      width: 100%;
      filter: @grey;
      -webkit-filter: @grey;
      filter: grayscale(1);
    }
  }
}


// ***** OUR SERVICE AREA *****
.our-service-area {
  width: 100%;
  background-color: lightgrey;
  padding: 50px 0;
}

.our-service-area-content {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  // padding: 0 30px;
  display: flex;
  justify-content: space-between;

  .service-area-info {
    width: 41%;
    h2 {
      font-size: 2.8rem;
      font-weight: 700;
      color: @grey;
      margin-bottom: 15px
    }
    h4 {
      font-size: 2rem;
      font-weight: 600;
      color: @grey;
      margin-bottom: 10px;
    }
    p {
      color: @green;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    a {
      color: @green;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .service-area-img-ctn {
    // border: 1px solid red;
    width: 30%;
    margin-right: 200px;
    img {
      width: 100%;
      border-radius: 50%;
      // padding: 25%;
    }
  }
}



// ***** CUSTOMERS *****
.customers {
  width: 100%;
  background: linear-gradient(rgba(255, 226, 86, 0.35), rgba(254, 245, 192, 0.5))
}

.customers-ctn {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  h2 {
    font-size: 2.8rem;
    color: @grey;
    font-weight: 700;
    text-align: center;
  }

  .reviews {
    // border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 50px;
  }
  .review {
    background: @white;
    width: 325px;
    height: 165px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin: 25px 0 0 0;
    box-shadow: 0 0 5px lightgrey;
  }

  .customers-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .customers-text {
      width: 50%;
      h2 {
        margin-bottom: 25px;
      }
      p {
        line-height: 1.5;
        margin-bottom: 20px;
      }
    }

    .video-ctn {
      // border: 1px solid red;
      width: 45%;

      iframe {
        object-fit: initial;
        width: 400px;
        height: 225px;
      }
    }
  }
}