// =========== CAROUSEL ==========
.carousel {
  position: relative;
  height: 365px;
  width: 100%;
}

.carousel-image {
  height: 100%;
  width: 100%;
}

.carousel-track-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  list-style: none;
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 1500ms ease-in-out;
}

// ***** CAROUSEL SLIDES *****
.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: @white;
  .slide-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px 0 50px;

    h3 {
      text-align: center;
      font-size: 5rem;
      font-weight: 700;
    }
    h4 {
      color: #fbec74;
      font-style: italic;
      font-size: 3.5rem;
      font-weight: 400;
      margin-top: 30px;
    }
  }
}

#slide1 {
  background-image: url(https://dc69b531ebf7a086ce97-290115cc0d6de62a29c33db202ae565c.ssl.cf1.rackcdn.com/1347/mm-gutter2-LEAFGUARD-DEALER-IMG.jpg);
  background-position: center center;
  width: 100%;
  background-size: cover;
  position: absolute;
}

#slide2 {
  background: url(https://dc69b531ebf7a086ce97-290115cc0d6de62a29c33db202ae565c.ssl.cf1.rackcdn.com/1423/lg-mm-roof.jpg);
  background-position: center center;
  width: 100%;
  background-size: cover;
  position: absolute;
}

// ***** CAROUSEL BUTTONS *****
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  border: none;
  border-right: 2px solid #9e9d98;
  border-bottom: 2px solid #9e9d98;
  background: none;
  cursor: pointer;
}

.left-button {
  left: 0;
  transform: translateY(-50%) rotate(135deg);
  margin-left: 25px;
}

.right-button {
  right: 0;
  transform: translateY(-50%) rotate(-45deg);
  margin-right: 25px;
}

// ***** CAROUSEL INDICATOR BUTTONS *****
.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.current-slide-indicator {
  background: rgba(0, 0, 0, 0.75);
}


// ***** COMPANY SUMMERY *****
.company-summary {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1000px;
  width: 90%;
}

.company-summary-ctn {
  h1 {
    font-size: 4.4rem;
    line-height: 62px;
    text-align: center;
    color: @green;
    @media @small-desktop {
      font-size: 3.4rem;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }
  h2 {
    font-size: 2.8rem;
    line-height: 36px;
    text-align: center;
    color: @black;
    font-weight: 700;
    @media @small-desktop {
      font-size: 2.2rem;
    }
  }
  p {
    margin: 25px 7% 25px 7%;
    line-height: 1.5;
  }
}

// ***** WHY GREATER MADISON HOMEOWNERS CHOOSE US *****
.why-us {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1000px;
  width: 90%;
}

.why-us-ctn {
  width: 100%;
  h2 {
    color: @green;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
  }
}

.why-us-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
  @media @small-desktop {
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
  }
}

.why-us-box {
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0 0 5px lightgrey;
  width: 235px;
  padding: 10px;
  @media @small-desktop {
    margin: 5px;
  }
  .icon {
    text-align: center;
    margin: 15px;
    .fa {
      transform: scaleX(-1);
      font-size: 3.8rem;
      color: @dark-green;
    }
  }
  p {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
  }
}

.services-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.services-button {
  width: 300px;
  background-color: @green;
  color: @white;
  text-align: center;
  padding: 20px 0;
  margin: 5px;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.5s ease;
  &:hover {
    color: @orange;
  }
  @media @small-desktop {
    width: 250px;
  }
}

.text-content {
  line-height: 1.5;
  margin-bottom: 15px;
}

.associations {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  .association-img-ctn {
    width: 23%;
    img {
      width: 100%;
      filter: @grey;
      -webkit-filter: @grey;
      filter: grayscale(1);
    }
  }
}

// ***** OUR SERVICE AREA *****
.our-service-area {
  width: 100%;
  background-color: lightgrey;
  padding: 50px 0;
}

.our-service-area-content {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @media @small-desktop {
    flex-direction: column;
  }

  .service-area-info {
    width: 41%;
    @media @small-desktop {
      width: 100%;
      margin-bottom: 40px;
    }
    h2 {
      font-size: 2.8rem;
      font-weight: 700;
      color: @grey;
      margin-bottom: 15px;
    }
    h4 {
      font-size: 2rem;
      font-weight: 600;
      color: @grey;
      margin-bottom: 10px;
    }
    p {
      color: @green;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 15px;
      @media @small-desktop {
        line-height: 2;
      }
    }
    a {
      color: @green;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .service-area-img-ctn {
    width: 30%;
    margin-right: 200px;
    @media @small-desktop {
      margin: 0 auto;
      width: 50%;
    }
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

// ***** CUSTOMERS *****
.customers {
  width: 100%;
  background: linear-gradient(
    rgba(255, 226, 86, 0.35),
    rgba(254, 245, 192, 0.5)
  );
}

.customers-ctn {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  h2 {
    font-size: 2.8rem;
    color: @grey;
    font-weight: 700;
    text-align: center;
  }

  .reviews {
    // border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 50px;
  }
  .review {
    background: @white;
    width: 325px;
    height: 165px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin: 25px 0 0 0;
    box-shadow: 0 0 5px lightgrey;
  }

  .customers-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .customers-text {
      width: 50%;
      h2 {
        margin-bottom: 25px;
      }
      p {
        line-height: 1.5;
        margin-bottom: 20px;
      }
    }

    .video-ctn {
      // border: 1px solid red;
      width: 45%;

      iframe {
        object-fit: initial;
        width: 400px;
        height: 225px;
      }
    }
  }
}

